@model New_Stock_Management.Models.Stock_Master

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Stock_Master</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Stock_ID" />
            <div class="form-group">
                <label asp-for="Company_Name" class="control-label"></label>
                <input asp-for="Company_Name" class="form-control" />
                <span asp-validation-for="Company_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item_Name" class="control-label"></label>
                <input asp-for="Item_Name" class="form-control" />
                <span asp-validation-for="Item_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total_Qty" class="control-label"></label>
                <input asp-for="Total_Qty" class="form-control" />
                <span asp-validation-for="Total_Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Available_Qty" class="control-label"></label>
                <input asp-for="Available_Qty" class="form-control" />
                <span asp-validation-for="Available_Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sell_Qty" class="control-label"></label>
                <input asp-for="Sell_Qty" class="form-control" />
                <span asp-validation-for="Sell_Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Available_Price" class="control-label"></label>
                <input asp-for="Available_Price" class="form-control" />
                <span asp-validation-for="Available_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sell_price" class="control-label"></label>
                <input asp-for="sell_price" class="form-control" />
                <span asp-validation-for="sell_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
