@{
    ViewData["Title"] = "Home Page";
}
<center>
    <img src="~/stock-management.jpg" height="350" width="450" />
</center>
<div class="text-center">
    <h1 class="display-4">Welcome to Stock Management System</h1>
    
</div>
